* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
    position: sticky;
    top: 0%;
}

nav img {
    width: 70px;
}

nav {
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
    font-size: small;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
nav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: darkblue;
    display: block;
    margin: auto;
    transition: 0.7s;
}
nav ul li:hover:after{
    width: 100%;
}

/* ------- Image------ */
.img-1 img {

    width: 100%;
    height: 410px;
    margin: auto;

}
@media(max-width:700px){
  .img-1{
    width: 100%;
    height: auto;
  }
}

/* -----------Start Free trial---------- */
.Start-1 {
    width: 100%;
    height: 70px;
    background: darkblue;
    justify-content: center;
    padding-top: 35px;
    text-align: center;
    color: white;
}


.btn {
    width: 100px;
    height: 40px;
    margin: 0 0 3px 9px;
    border-radius: 9px;
    font-size: large;
    background-color: white;
    color: darkblue;
}
.btn:hover{
    border: 1px solid white;
    background: darkblue;
    color: white;
    transition: 1s ;
}
@media(max-width:700px){
   .btn{
    width: 90px;
    height: 30px;
    font-size: small;
    border-radius: 8px;
   }
   .start{
    font-size: medium;
   }
  }

/* ------features    --- */
.features {
    text-align: center;
   
    width: 100%;
    height: 100px;

}

.col-3 {
    flex-basis: 20%;
    width: 90%;
    margin: auto;
    display: inline-block;
}
@media(max-width:700px){
    .row{
        flex-direction: column;
        padding: 0 20px 0 20px;
    }
}


/* ----features--- */
.features {
    width: auto;
    margin: auto;
    text-align: center;
    padding-top: 50px;

}
.features h2{
    color: darkblue;
}
 

.row {
    margin: 5% 5% 0 5%;
    display: flex;
    justify-content: space-between;
}

.features-col {
    flex-basis: 31%;
    background:white;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    color: darkblue;
    text-align: center;
    font-weight: 600;
    margin: 10px;
}

.features-col:hover {
    box-shadow: 0 0 20px lightblue;
}
@media(max-width:700px){
    .features h2{
        font-size: medium;
        padding: 0 5px;
    }
}
/* ------MAZING FEATURES & FLEXIBILITY PROVIDED------ */
.Flexibility {
    width: auto;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background-color: darkblue;

}
.Flexibility h2{
    color: white;
}
 

.row {
    margin: 5% 5% 0 5%;
    display: flex;
    justify-content: space-between;
}

.Flexibility-col {
    flex-basis: 31%;
    background:white;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    color: darkblue;
    text-align: center;
    font-weight: 600;
    margin: 10px;
}

.Flexibility-col:hover {
    box-shadow: 0 0 20px lightblue;
}
